/* Alle elementen resetten */
* {
  box-sizing: border-box;
  margin: 0;
}

img {
  max-width: 100%;
}

body {
  background-color: #21222a;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
